 
<table class="table container text-center">
  <thead>
    <tr>
      <th>
        <button class="btn btn-primary" (click)="toggleImage()">
          {{ displayImage ? "Hide" : "Show" }} Image
        </button>

      </th>
    </tr>
    <tr>
      <th>Avtar</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let user of users| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total }">
      <td>
        <img class="border border-danger rounded-circle" *ngIf="displayImage" [src]="user.avatar" alt="" />
      </td>

      <td><a [routerLink]="['/users',user.id]">{{ user.first_name }}</a></td>
      <td>{{ user.last_name }}</td>
      <td>
        {{ user.email }}
      </td>
    </tr>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
  </tbody>
</table>